node_modules/
.npm-cache/
.pub-cache/
.gradle/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.env
.env.*
!.env.example
coverage/
*.log
*.iml
.idea/
.vscode/
